---
import type { ImageMetadata } from 'astro'
import { Image } from 'astro:assets'
import type { Project } from '../../types/project'
import ProjectAction from './ProjectAction.astro'
import ProjectTag from './ProjectTag.astro'

interface Props extends Project {
  imageData: ImageMetadata
}

const { title, description, tags, liveUrl, repoUrl, imageData } = Astro.props
---

<div class="project-card">
  <div class="cover">
    <Image class="image" alt={title} layout="constrained" src={imageData} />
  </div>
  <div class="content">
    <h3 class="title">{title}</h3>
    <p class="summary">{description}</p>
    <ul class="tags">
      {tags.map((tag) => <ProjectTag tagName={tag} />)}
    </ul>
  </div>
  <div class="actions">
    <ProjectAction ariaLabel="View source code on GitHub" textContent="Code" url={repoUrl}>
      <path d="m18 16 4-4-4-4"></path>
      <path d="m6 8-4 4 4 4"></path>
      <path d="m14.5 4-5 16"></path>
    </ProjectAction>
    {
      liveUrl && (
        <ProjectAction ariaLabel="View project demo" textContent="Demo" url={liveUrl}>
          <path d="M15 3h6v6" />
          <path d="M10 14 21 3" />
          <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6" />
        </ProjectAction>
      )
    }
  </div>
</div>
